a.active{
    color: #fd562a !important;
}
.menu_area {
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: space-between;
     
}
.main_menu ul {
    display: flex;
}
.main_menu ul li {
    list-style-type: none;
}

.main_menu ul li a {
    padding: 25px 0px;
    display: block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 600;
    transition: all .3s ease-in-out;
}
.main_menu ul li a:hover{
    color: #fd562a !important;
}